.container {
    width: 100%;
    width: 1280px;
    margin: auto;
    font-family: 'Roboto';
    margin-top: 63px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    
}

.blue {
    color: #4BCAFF;
}

.top-nav_panel {
    display: flex;
    background-color: #35444F;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 49px;
}

.top-nav_panel-item {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left: 0.5px solid #FFFFFF;
    border-right: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    padding: 24px 40px 18px;
}

.top-nav_panel-item-active {
    background: #222F3A;
}

.side-content {
    display: flex;
    gap: 52px;
}

.side-nav_panel {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    height: 400px;
    width: 344px;
    justify-content: space-evenly;
}

.side-nav_panel-item {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-left: 44px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.side-nav_panel-item-active {
    background: #DBDBDB;
    color: #35444F;
    padding-left: 70px;
}

.img-content {
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}

.text-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-left: 396px;
    margin-bottom: 34px;
    color: #2C2C2C;

}

.bottom-menu {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    gap: 135px;
    justify-content: center;
    margin-top: 54px;
    
}

.additional {
    width: 100%;
    height: 8px;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}

.bottom-nav_panel {
    display: flex;
    gap: 30px;
}

.bottom-nav_panel-item {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    padding: 20px 0 13px;
    color: #0C1927;
}



.bottom-nav_panel-item-active {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}